# Dependencies
node_modules/
.pnpm-store/
jspm_packages/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Firebase (Security)
google-services.json
GoogleService-Info.plist

# Local Environment (Security)
.env
.env.local
.env.*.local
*.pem

# Native Code
# android/
# ios/

# Native Signing & Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Electron Builds
release/
electron-school-config.json

# Logs & Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs
*.pid
*.seed
*.pid.lock

# IDEs & System Junk
.idea/
.vscode/
.DS_Store
Thumbs.db
.history/

# Build Info
*.tsbuildinfo
app-example/
.eslintcache
.stylelintcache
.cache/
